.content {
    max-width: 944px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    align-self: center;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  
  .pagename {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #ffffff;
  }
  
  .startgame {
    width: 246px;
    height: 50px;
    border-radius: 12px;
    opacity: 0px;
    background: #7ac100;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    border: none;
    cursor: pointer;
    color: #fff;
    font-variant-numeric: lining-nums proportional-nums;
  }
  
  .startgame:hover {
    background: #7ac100cc;
  }
  
  .list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .listContent {
    padding-left: 18px;
    padding-right: 18px;
    box-sizing: border-box;
    height: 64px;
    border-radius: 12px;
    opacity: 0px;
    background: #ffffff;
    display: flex;
    align-items: center;
    gap: 64px;
  }
  
  .titleText {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #999999;
  }
  
  .position {
    width: 178px;
  }
  
  .name {
    width: 227px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .achievements {
    width: 194px;
    display: flex;
    gap: 8px;
  }
  
  .time {
    width: 92px;
  }
  
  .playerText {
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #000000;
  }
  
  .hardImg {
    width: 26px;
    height: 26px;
  }
  
  .achievementImg {
    width: 21.7px;
    height: 26px;
  }
  
  .clueText {
    display: none;
  }
  
  .achievementsContent:hover .clueText {
    display: block;
    position: fixed;
    top: auto;
    left: auto;
    box-sizing: border-box;
    background-image: url(./images/backToText.png);
    border-radius: 12px;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    padding: 16px;
    color: #004980;
    text-align: center;
    padding-top: 20px;
  }
  